<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>과자모두보기</title>
<link rel="stylesheet" href="style.css">
</head>
<body>
	<div class="container">
		<h1>과자모두보기</h1>
		<!-- db에 만들어준 과자를 모두 가져와서 볼 수 있음 -->
		<a href="/allSnack">과자 보러가기</a>
		
		<h1>과자회사 모두보기</h1>
		<!-- db에 만들어준 과자를 모두 가져와서 볼 수 있음 -->
		<a href="/allCompany">과자회사 보러가기</a>
		
		<h1>회원 모두보기</h1>
		<!-- db에 만들어준 과자를 모두 가져와서 볼 수 있음 -->
		<a href="/allMember">회원 보러가기</a>
	</div>
</body>
</html>